<h1>Appointments</h1>

<ul class="collection">

<li class="collection-item avatar">
  <i class="material-icons circle green">done</i>
  <span class="title">9:00am - 10:00am</span>
  <p>John Doe
  </p>
  <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
</li>

<li class="collection-item avatar">
  <i class="material-icons circle green">done</i>
  <span class="title">10:00am - 10:30am</span>
  <p>Jane Doe
  </p>
  <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
</li>

<li class="collection-item avatar">
  <i class="material-icons circle">done</i>
  <span class="title">12:00am - 1:00pm</span>
  <p>Jack
  </p>
  <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
</li>

</ul>
<div class="modal-footer">
    <button class="btn waves-effect waves-light">New Appointment</button>
</div>
