<h1>{{title}}</h1>

<div class="row">
    <form action="/createProfile" method="post" class="col s12" id="createProfile">
        <div class="row">
            <div class="input-field col s6">
                <input id="firstname" type="text" class="validate" name="firstname">
                <label for="firstname">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="lastname" type="text" class="validate" name="lastname">
                <label for="lastname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select name="role">
                    <option value="2" selected>Customer</option>
                    <option value="1" disabled>Worker</option>
                </select>
                <label>Role</label>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button form="createProfile" class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $('.collapsible').collapsible();
    });
</script>

